{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Flow</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-4.6.2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome-4.7.0.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}"/>    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    {% if user.is_authenticated %}
        {% include 'partials/nav.html' %}
    {% endif %}

    {% if show_sidebar %}
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="container mt-4 break-word">
                        {% block sidebar %}{% endblock %}
                    </div>
                </nav>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div class="mt-4">
    {% else %}
        <main role="main">
            <div class="container mt-4">
    {% endif %}

            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% else %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
            {% endif %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}

            {% block content %}{% endblock %}

    {% if show_sidebar %}
                </div>
            </main>
        </div>
    {% else %}
            </div>
        </main>
    {% endif %}

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popperjs-1.12.9.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-4.6.2.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>    
    <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
