{% extends "base.html" %}
{% load url_replace %}
{% load static sorting_tags %}
{% load solo_tags %}
{% autosort page %}
{% block sidebar %}

<form method="GET" action=".">
    <div class="form-group">
        <input type="hidden" name="sort" value="" class="form-control" maxlength="100" id="id_sort">
    </div>

    <div class="form-group">
        <input type="hidden" name="dir" value="" class="form-control" maxlength="100" id="id_dir">
    </div>

    <div class="form-group">
        <input type="hidden" name="hidden" value="" class="form-control" maxlength="100" id="id_hidden">
    </div>

    <div class="form-group">
        <label for="id_q">{{filter_form.q.label}}</label>
        {{filter_form.q}}
    </div>

    <div class="form-group">
        <label  for="id_status">{{filter_form.status.label}}</label>
        {{filter_form.status}}
    </div>

    <div class="form-group">
        <label  for="id_casetype">{{filter_form.casetype.label}}</label>
        {{filter_form.casetype}}
    </div>

    <div class="form-group">
        <label  for="id_phase">{{filter_form.phase.label}}</label>
        {{filter_form.phase}}
    </div>

    <div class="form-group">
        <label  for="id_responsible">{{filter_form.responsible.label}}</label>
        {{filter_form.responsible}}
    </div>

    <div class="form-group">
        <label for="id_tags">{{filter_form.tags.label}}</label>
        {{filter_form.tags}}
    </div>

    
    

    <div class="form-group">
        <label for="id_created_on">{{filter_form.created_on_start.label}}</label>
    <div autocomplete="off" class="input-group input-daterange">
        {{filter_form.created_on_start}}
        <div class="input-group-addon">&nbsp;tot&nbsp;</div>
        {{filter_form.created_on_end}}
    </div>
    </div>

    <div class="form-group">
        <label for="id_created_on">{{filter_form.deadline_start.label}}</label>
    <div autocomplete="off" class="input-group input-daterange">
        {{filter_form.deadline_start}}
        <div class="input-group-addon">&nbsp;tot&nbsp;</div>
        {{filter_form.deadline_end}}
    </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Filteren</button>
    </div>
    <input type="hidden" name="sort" id="id_sort">
    <input type="hidden" name="dir" id="id_dir">
    <input type="hidden" name="show" id="id_show">
</form>
{% endblock %}

{% block content %}
    <div class="d-flex flex-row justify-content-between">
        <h1>Items</h1>
        <div id="table-settings" style="right: 200px;top: 33px;position: absolute;" class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-label="Verstop kolommen" aria-haspopup="true" aria-expanded="false">
                <span class="oi oi-cog"></span>
            </button>
            <ul class="dropdown-menu" style="padding:10px;width:180px;" aria-labelledby="dropdownMenuButton">
                <li role="checkbox" aria-checked="true" tabindex="0" aria-labelledby="chk1-label"><input type="checkbox" checked="true" id="all" onchange="tableSet(event)"> <label id="chkall-label" style="font-weight: bold;" aria-label="Nummer" for="all">Allen</label></li>
                <li role="checkbox" aria-checked="true" tabindex="0" aria-labelledby="chk1-label"><input type="checkbox" checked="true" id="1" onchange="tableSet(event)"> <label id="chk1-label" aria-label="Nummer" for="1">Nr.</label></li>
                <li role="checkbox" aria-checked="true" tabindex="0" aria-labelledby="chk2-label"><input type="checkbox" checked="true" id="2" onchange="tableSet(event)"> <label id="chk2-label" aria-label="Status" for="2">Status</label></li>
                <li role="checkbox" aria-checked="true" tabindex="0" aria-labelledby="chk3-label"><input type="checkbox" checked="true" id="3" onchange="tableSet(event)"> <label id="chk3-label" aria-label="Startdatum" for="3">Startdatum</label></li>
                <li role="checkbox" aria-checked="true" tabindex="0" aria-labelledby="chk4-label"><input type="checkbox" checked="true" id="4" onchange="tableSet(event)"> <label id="chk4-label" aria-label="Naam" for="4">Naam</label></li>
                <li role="checkbox" aria-checked="true" tabindex="0" aria-labelledby="chk5-label"><input type="checkbox" checked="true" id="5" onchange="tableSet(event)"> <label id="chk5-label" aria-label="Looptijd" for="5">Looptijd</label></li>
                <li role="checkbox" aria-checked="true" tabindex="0" aria-labelledby="chk6-label"><input type="checkbox" checked="true" id="6" onchange="tableSet(event)"> <label id="chk6-label" aria-label="Type" for="6">Type</label></li>
                <li role="checkbox" aria-checked="true" tabindex="0" aria-labelledby="chk7-label"><input type="checkbox" checked="true" id="7" onchange="tableSet(event)"> <label id="chk7-label" aria-label="Fase" for="7">Fase</label></li>
                <li role="checkbox" aria-checked="true" tabindex="0" aria-labelledby="chk8-label"><input type="checkbox" checked="true" id="8" onchange="tableSet(event)"> <label id="chk8-label" aria-label="Verantwoordelijke" for="8">Verantwoordelijke</label></li>
                <li role="checkbox" aria-checked="true" tabindex="0" aria-labelledby="chk9-label"><input type="checkbox" checked="true" id="9" onchange="tableSet(event)"> <label id="chk9-label" aria-label="Deadline" for="9"></label> Deadline</li>
                <li role="checkbox" aria-checked="true" tabindex="0" aria-labelledby="chk10-label"><input type="checkbox" checked="true" id="10" onchange="tableSet(event)"> <label id="chk10-label" aria-label="Tags" for="10">Tags</li>
                <li class="dropdown-divider"></li>
                <button class="btn btn-primary mt-auto mb-auto" onclick="setHidden()">Update</button>
                <button class="btn mt-auto mb-auto" onclick="resetHidden()">Reset</button>
            </ul>
          </div>
        <a href="/cases/add" class="btn btn-primary mt-auto mb-auto">Item toevoegen</a>
    </div>

    <div class="table-responsive">
        <table id="table" class="table table-hover">
            <thead>
                <tr>
                    <th>{% anchor id _("Nr.") %}</th>
                    <th>{% anchor status _("Status") %}</th>
                    <th>{% anchor created_on _("Startdatum") %}</th>
                    <th>{% anchor name _("Naam") %}</th>
                    <th>{% anchor latest_phase_change _("Looptijd") %}</th>
                    <th>{% anchor casetype _("Type") %}</th>
                    <th>{% anchor current_phase _("Fase") %}</th>
                    <th>{% anchor responsible _("Verantwoordelijke") %}</th>
                    <th>{% anchor deadline _("Deadline") %}</th>
                    <th>{% anchor tags _("Tags") %}</th>
                </tr>
            </thead>
            <tbody>
                {% for case in page %}
                    <tr>
                        <td><a href="/cases/view/{{case.id}}">{{case.id}}</a></td>
                        <td>{{case.status_verbose}}</td>
                        <td>{{case.created_on|date:"SHORT_DATE_FORMAT"}}</td>
                        <td>
                            <a href="/cases/view/{{case.id}}">{{case.name}}</a>
                            &nbsp;
                            <a data-toggle="modal" data-target="#modal-{{case.id}}" class="btn btn-sm btn-outline-info">
                                <span class="oi oi-info"></span>
                            </a><br />
                        </td>
                        <td>
                            {% if case.latest_phase_change %}
                                {{ case.latest_phase_change|timesince }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>{{case.casetype}}</td>
                        <td>{% if case.current_phase %}{{case.current_phase.name}}{% else %}-{% endif %}</td>
                        <td>{% if case.responsible %}{{case.responsible.get_full_name}}{% else %}-{% endif %}</td>
                        <td>{% if case.deadline %}{{case.deadline|date:"SHORT_DATE_FORMAT"}}{% else %}-{% endif %}</td>
                        <td>
                            {% for tag in case.tags %}
                                <span class="badge badge-secondary">{{tag}}</span>
                            {% endfor %}
                        </td>
                        {% include 'partials/modal.html' %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% get_solo 'core.Setting' as site_config %}
    <script>
        let starting = true;
        let column_table = ['id','status','created_on','name','latest_phase_change','casetype','current_phase','responsible','deadline','tags'];
        window.onload = function(){
            let shown_columns = "{{ site_config.shown_columns }}".replace(/\&\#x27;/g,'').replace(/\s/g,'').slice(1,-1).split(',');
            // save the sort data into the filter form (for keeping sort when starting filtering)
            if(location.href.match('sort=')){
                if(location.href.match(/sort=([^\?&]+)/)) $('#id_sort').val(location.href.match(/sort=([^\?&]+)/)[1]);
                if(location.href.match(/dir=([^\?&]+)/)) $('#id_dir').val(location.href.match(/dir=([^\?&]+)/)[1]);
            }
            if(location.href.match(/show=[^&]/)){
                // save the hidden data into the filter form (for keeping sort when starting filtering
                $('#id_show').val(location.href.match(/show=([^\?&]+)/)[1]);

                // get the hidden_ids from the url params and hide the resp. columns
                let shown_ids = location.href.match(/[\?&]show=([^&]+)/)[1].split('-');
                $('#table-settings input[type="checkbox"]#all').prop('checked',shown_ids.length<10||shown_ids==['0']?false:true);
                hiddenids = ['1','2','3','4','5','6','7','8','9','10'].filter(e=>shown_ids.indexOf(e)==-1);
                for (let hide of hiddenids){
                    $('#table-settings #'+hide).click();
                    $('#table td:nth-child('+hide+'),#table th:nth-child('+hide+')').hide();
                }
                
            }else{
                if(shown_columns.length>0){
                    $('#table-settings input[type="checkbox"]#all').prop('checked',false);
                    let shown_ids = shown_columns.map(e=>column_table.indexOf(e)+1); 
                    console.log(shown_ids)
                    hiddenids = [0,1,2,3,4,5,6,7,8,9,10].filter(e=>shown_ids.indexOf(e)==-1);
                    for (let hide of hiddenids){
                        $('#table-settings #'+hide).click();
                        $('#table td:nth-child('+hide+'),#table th:nth-child('+hide+')').hide();
                    }
                }
                else $('#table-settings input[type="checkbox"]#all').prop('checked',true);
            }
            starting = false;
            // prevent the dropdown from getting hidden when clicking on itself
            jQuery(document).on('click', '.dropdown-menu#hide', function (e) {
                e.stopPropagation();
            });
            $.extend(true, $.fn.datepicker.defaults, {
                icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar',
                up: 'fas fa-arrow-up',
                down: 'fas fa-arrow-down',
                previous: 'fas fa-chevron-left',
                next: 'fas fa-chevron-right',
                today: 'fas fa-calendar-check',
                clear: 'far fa-trash-alt',
                close: 'far fa-times-circle'
                }   
            });
            $('.input-daterange input').each(function() {
                $(this).datepicker({
                        format: 'dd/mm/yyyy'
                }).on("apply.daterangepicker", function (e, picker) {
                    document.getElementById(picker.element.attr('id').split('_').slice(0,-1).join('_')+'_start').value = picker.startDate.format('YYYY-MM-DD');
                    document.getElementById(picker.element.attr('id').split('_').slice(0,-1).join('_')+'_end').value = picker.endDate.format('YYYY-MM-DD');
                });
            });
        }
        let shownids = [];
        // set which columns are going to be hidden/visible
        function tableSet(e){
            if(!starting){ // skip setting hidden colomns on page load
                shownids = ['1','2','3','4','5','6','7','8','9','10'];
                if(e.target.id=="all"){ // user clicked 'all'
                    if(!e.target.checked) {
                        shownids = ['0'];
                        [].slice.call(document.querySelectorAll('#table-settings input[type="checkbox"]')).map(e=>{e.checked=false;});
                    }else [].slice.call(document.querySelectorAll('#table-settings input[type="checkbox"]')).forEach(e=>{if(e.id!='all') e.checked = true});
                // user clicked only single checkbox, so update variable that holds the hidden_ids
                }else shownids = [].slice.call(document.querySelectorAll('#table-settings input[type="checkbox"]')).map(e=>e.checked?e.id:null).filter(f=>f!=null&&f!='all');
            }
        }
        // update hidden columns
        function setHidden(){
            window.location.href = window.location.href.replace(/[\?&]show=[^&]*/,'')+(window.location.href.match('&')?'&':'?')+'show='+ shownids.join('-');
        }
        // reset to default settings
        function resetHidden(){
            window.location.href = window.location.href.replace(/[\?&]show=[^&]*/,'');
        }
    </script>
    <style>
        input[type='checkbox']{
            transform:scale(1.5);
            margin-right: 8px;
        }
        .input-daterange input {
            font-size: 11px;
            width: 68px;
            border: 1px solid lightgrey;
            border-radius: 3px!important;
            height: 35px;
        }
        .input-group-addon{
            top: 3px;
            position: relative;
        }
        .datepicker table {
            margin: 10px;
        }
    </style>
    <nav aria-label="Kies pagina">
        <ul class="pagination justify-content-center">
            {% if page.has_previous %}
                <li class="page-item">
                    <a href="?{% url_replace request 'page' page.previous_page_number %}" class="page-link">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                </li>
            {% endif %}

            {% for i in page_range %}
                <li class="page-item {% if page.number == i %}active{% endif %}">
                    <a href="?{% url_replace request 'page' i %}"><div class="page-link">{{i}}</div></a>
                </li>
            {% endfor %}

            {% if page.has_next %}
                <li class="page-item">
                    <a href="?{% url_replace request 'page' page.next_page_number %}" class="page-link">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a href="#" class="page-link" tabindex="-1">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}