{% extends "base.html" %}

{% block content %}
	<h1>Item verwijderen</h1>
	<form action="/cases/delete/{{case.id}}" method="post">
		{% csrf_token %}
		<p>Weet je zeker dat je dit item wil verwijderen? Vul het nummer <b>{{case.id}}</b> hieronder in.</p>

		<div class="form-group">
			<input type="text" name="confirm_id" class="form-control">
		</div>

		<button type="submit" class="btn btn-danger">Verwijderen</button>
		<a href="/cases/view/{{case.id}}" class="btn btn-link">Annuleren</a>

		<input type="hidden" name="id" value="{{case.id}}">
	</form>
{% endblock %}