{% extends "base.html" %}

{% block content %}
	<h1>Notificaties</h1>
	<p>Hier kun je de notificaties instellen voor verschillende itemtypen. Wanneer een itemtype in een bepaalde fase komt dan ontvang je een e-mail.</p>

	<form action="/notifications" method="POST">
		{% csrf_token %}

		{% for field in form %}
			<div class="notifications-casetype">
				<h3>{{field.label}}</h3>
				<hr />
				{% for checkbox in field %}
					{{ checkbox }}<br />
				{% endfor %}
			</div>
		{% endfor %}
		<button class="btn btn-primary" type="submit">Opslaan</button>
	</form>
{% endblock %}