{% extends "base.html" %}
{% load classname %}
{% load can_edit %}

{% block content %}
{% include "partials/case_header.html" %}

<div class="discussion-content">
	{% if case.external_author %}
	<strong>Externe auteur:</strong> {{ case.external_author }}<br><br>
	{% endif %}
	{{ case.description|safe }}

	{% for attachment in case.attachments.all %}
	<a href="{{attachment.file.url}}">{{ attachment.filename }}</a><br />
	{% endfor %}
</div>

<hr />

<div class="mt-4 mb-4">
	{% if is_manager %}
	<h2>Reactie toevoegen</h2>
	<div class="row mt-4">
		<div class="col-sm-1">
			<a class="avatar" style="background-image: url('{{request.user.icon_url}}');"></a>
		</div>
		<div class="col-sm-11">
			<form action="/comments/add" method="post" enctype="multipart/form-data" novalidate>
				{% csrf_token %}

				<div class="form-group">
					{{comment_form.description.errors}}
					{{comment_form.description}}
				</div>

				<div class="form-group">
					{{comment_form.attachments.errors}}
					{{comment_form.attachments}}
				</div>

				{% if not case.responsible %}
				<div class="form-group">
					<label>{{ phase_form.responsible.label }}</label>
					{{phase_form.responsible.errors}}
					{{phase_form.responsible}}
				</div>
				{% endif %}

				<div class="form-group">
					<label>{{ phase_form.phase.label }}</label>
					{{phase_form.phase.errors}}
					{{phase_form.phase}}
				</div>

				{{phase_form.closing_tasks}}

				<input type="hidden" name="case_id" value="{{case.id}}">

				<button type="submit" class="btn btn-primary">Reactie toevoegen</button>
			</form>
		</div>
	</div>
	{% else %}
	<h2>Tijdlijn</h2>
	<div class="row mt-4">
		<div class="col-sm-1">
			<a class="avatar" style="background-image: url('{{request.user.icon_url}}');"></a>
		</div>
		<div class="col-sm-11">
			<p>Je dient het item eerst in behandeling te nemen voordat je kunt reageren.</p>
			<form action="/cases/claim/{{case.id}}" method="post">
				{% csrf_token %}
				<button type="submit" class="btn btn-primary">Behandel item</button>
			</form>
			{% if case.status == 'PENDING' %}
			<form action="/cases/mark_closed/{{case.id}}" method="post" class="mt-1">
				{% csrf_token %}
				<button type="submit" class="btn btn-outline-primary">Markeer zaak als gesloten</button>
			</form>
			{% endif %}
		</div>
	</div>
	{% endif %}
</div>

<div class="row">
	<div class="col-sm-3 offset-sm-1">
		<form method="get" id="comment_filter_form">
			{{ comment_filter_form.comment_type }}
		</form>
	</div>
</div>

{% if not timeline %}
<div class="row mt-4">
	<div class="col-sm-3 offset-sm-1">
		<p>De tijdlijn is momenteel nog leeg.</p>
	</div>
</div>
{% endif %}

{% for item in timeline %}
{% if item|classname == 'CaseLog' %}
<div class="row mt-4">
	<div class="col-sm-1"></div>
	<div class="col-sm-11">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">De fase is veranderd naar {{ item.to }}</h5>
				<h6 class="card-subtitle mb-2 text-muted">{{ item.created_on }}</h6>
				<div class="card-text"></div>
			</div>
		</div>
	</div>
</div>
{% elif item|classname == 'ExternalComment' %}
<div class="row mt-4">
	<div class="col-sm-1"></div>
	<div class="col-sm-11">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title text-muted">{{ item.author }} <span class="badge badge-secondary">Externe reactie</span></h5>
				<h6 class="card-subtitle mb-2 text-muted">{{ item.created_on }}</h6>
				<div class="card-text text-muted">
					{{ item.description|safe }}
					{% for attachment in item.attachments.all %}
					<a href="{{attachment.file.url}}">{{ attachment.filename }}</a><br />
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% else %}
<div class="row mt-4">
	<div class="col-sm-1">
		<a class="avatar" style="background-image: url('{{item.author.icon_url}}');"></a>
	</div>
	<div class="col-sm-11">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">{{ item.author.name }}</h5>
				<h6 class="card-subtitle mb-2 text-muted">{{ item.created_on }}</h6>
				<div class="card-text">
					{{ item.description|safe }}
					{% for attachment in item.attachments.all %}
					<a href="{{attachment.file.url}}">{{ attachment.filename }}</a><br />
					{% endfor %}
				</div>
				<div class="actions">
					{% if item|can_edit:request.user %}
					<a href="/comments/edit/{{item.id}}" class="card-link">Wijzigen</a>
					<a href="/comments/delete/{{item.id}}" class="card-link">Verwijderen</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}
{% endblock %}

{% block head %}
{{ comment_form.media }}
{% endblock %}